<html ng-app="app">
	<head>
		<title>Hello Counter</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.1/angular.min.js"></script>
		<script src="js/countController.js"></script>
	</head>
	<body ng-controller="countController">
		<a href="#" ng-click="addOne()">Add 1</a>
		<hr/>
		<p>Counter value: {{counter}}</p>
	</body>
</html>