<html ng-app>
	<head>
		<title>Lista de compras</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.1/angular.min.js"></script>
		<script src="js/simpleController.js"></script>
	</head>
	<body>
		Hello <input type="text" ng-model="user.name"/>
		<hr/>
		<h1>Hello {{user.name}}</h1>
	</body>
</html>