<html ng-app="app">
	<head>
		<title>Hello Counter</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.1/angular.min.js"></script>
		<script src="js/listController.js"></script>
	</head>
	<body ng-controller="listController">
		<input type="text" ng-model="newItem" />
		<button ng-click="addItem()">Add</button>
		<hr/>
		<ul>
			<li ng-repeat="item in list"><input type="checkbox" id="item_{{$index}}" /><label for="item_{{$index}}">{{item.text}}</label></li>
		</ul>
	</body>
</html>
